<p-sidebar
  [(visible)]="visibleSidebar1"
  [style]="{ width: '15em' }"
  [baseZIndex]="10000"
>
  <div class="row" style="border-bottom: 1px solid rgb(224, 224, 224)">
    <div class="col-md-12">
      <div class="bio">
        <ul type="none">
          <li>
            <img src="assets/images/bg.png" />
          </li>
          <li>Avatar Teja</li>
          <li>12345@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="nav">
    <ul type="none">
      <li routerLink="/dashboard">
        <i class="pi pi-home" routerLinkActive="active"
          ><span class="ml-3">Dashboard</span></i
        >
      </li>
      <li routerLink="/addemployee">
        <i class="pi pi-user" routerLinkActive="active"
          ><span class="ml-3">Add Employee</span></i
        >
      </li>
      <li>
        <i class="pi pi-calendar" routerLinkActive="active"
          ><span class="ml-3">Attendence</span></i
        >
      </li>
      <li routerLink="/leave">
        <i class="pi pi-send" routerLinkActive="active"
          ><span class="ml-3">Leave</span></i
        >
      </li>
      <li>
        <i class="pi pi-users" routerLinkActive="active"
          ><span class="ml-3">Recruitment</span></i
        >
      </li>
      <li>
        <i class="pi pi-dollar" routerLinkActive="active"
          ><span class="ml-3">Payroll</span></i
        >
      </li>
      <li routerLink="/timesheet">
        <i class="pi pi-list" routerLinkActive="active"
          ><span class="ml-3">Time Sheet</span></i
        >
      </li>
      <li routerLink="/bio-data">
        <i class="pi pi-user" routerLinkActive="active"
          ><span class="ml-3">Bio-Data</span></i
        >
      </li>

      <li routerLink="/login">
        <i class="pi pi-sign-out" routerLinkActive="active"
          ><span class="ml-3">Logout</span></i
        >
      </li>
    </ul>
  </div>
</p-sidebar>

<!-- <p-button
  type="button"
  (click)="visibleSidebar1 = true"
  icon="pi pi-align-center"
></p-button> -->
<div class="arrow">
  <i
    class="pi pi-align-center"
    (click)="visibleSidebar1 = true"
    style="font-size: 2rem"
    ><span class="ml-2">Menu</span></i
  >
</div>
