.timesheet {
  margin-top: 40px;
}
:host ::ng-deep .p-calendar {
  width: 60%;
  height: 2.5rem;
}
label {
  display: inline-block;
  width: 100px;
  text-align: left;
}
:host ::ng-deep .p-inputtext {
  width: 60%;
}
.desc {
  margin-top: 90px;
  margin-bottom: 90px;
}

h4 {
  margin-bottom: 50px;
  color: #da0f5e;
  text-transform: uppercase;
  text-align: center;
}
