<app-sidenav></app-sidenav>
<div class="container timesheet">
  <div class="row">
    <h4>
      <i class="pi pi-plus" style="font-size: 1.5rem"> New Employee </i>
    </h4>
    <div class="col-md-6 mb-4 mt-4">
      <label>First Name</label>
      <input type="text" pInputText class="h-2rem" />
    </div>
    <div class="col-md-6">
      <label>Last Name</label>
      <input type="text" pInputText class="h-2rem" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4 mt-4">
      <label>Mobile Number</label>
      <input type="text" pInputText class="h-2rem" />
    </div>

    <div class="col-md-6 mb-4 mt-4">
      <label>Email</label>
      <input type="text" pInputText class="h-2rem" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4 mt-4">
      <label>Gender</label>
      <input type="text" pInputText class="h-2rem" />
    </div>

    <div class="col-md-6 mb-4 mt-4">
      <label>Department</label>
      <input type="text" pInputText class="h-2rem" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-5 mb-5">
      <label>Bank Name</label>
      <input type="text" pInputText class="h-2rem" />
    </div>
    <div class="col-md-6 mt-5 mb-5">
      <label>A/C Number</label>
      <input type="text" pInputText class="h-2rem" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4 mt-4">
      <label>Present Project Name</label>
      <input type="text" pInputText class="h-2rem" />
    </div>

    <div class="col-md-6 mb-4 mt-4">
      <label>Role</label>
      <input type="text" pInputText class="h-2rem" />
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-5"></div>
    <div class="col-md-3 text-center">
      <button
        pButton
        pRipple
        type="button"
        label="Add Employee"
        class="p-button p-button-success"
      ></button>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
