<app-sidenav></app-sidenav>

<!-- <div class="container leave">
  <div class="row">
    <h4>Apply Leave</h4>

    <div class="col-md-12">
      <p-editor [style]="{ height: '320px' }"></p-editor>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-5"></div>
    <div class="col-md-3 text-center">
      <button
        pButton
        pRipple
        type="button"
        label="Submit"
        class="p-button-rounded p-button-success"
      ></button>
    </div>
    <div class="col-md-4"></div>
  </div>
</div> -->

<div class="container timesheet">
  <div class="row">
    <h4>Apply Leave</h4>
    <div class="col-md-6 mb-4 mt-4">
      <label>Full Name</label>
      <input
        type="text"
        formControlName="consignName"
        pInputText
        class="h-2rem"
      />
    </div>
    <div class="col-md-6 mb-4 mt-4">
      <label>Leave Type</label>
      <input
        type="text"
        formControlName="consignName"
        pInputText
        class="h-2rem"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4 mt-4">
      <label>From</label>
      <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
    </div>

    <div class="col-md-6 mb-4 mt-4">
      <label>To</label>
      <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mt-5 mb-5">
      <label>Reason</label>

      <textarea
        rows="3"
        cols="31"
        pInputTextarea
        class="outline-none"
      ></textarea>
    </div>
    <div class="col-md-6"></div>
  </div>

  <div class="row mt-5">
    <div class="col-md-5"></div>
    <div class="col-md-3 text-center">
      <button
        pButton
        pRipple
        type="button"
        label="Submit"
        class="p-button-rounded p-button-success"
      ></button>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
