<app-sidenav></app-sidenav>

<div class="container leave">
  <div class="row">
    <h4>Apply Leave</h4>

    <div class="col-md-12">
      <p-editor [style]="{ height: '320px' }"></p-editor>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-5"></div>
    <div class="col-md-3 text-center">
      <button
        pButton
        pRipple
        type="button"
        label="Submit"
        class="p-button-rounded p-button-success"
      ></button>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
