h4 {
  margin-top: 10px;
  margin-bottom: 50px;
  color: #da0f5e;
  text-transform: uppercase;
  text-align: center;
}
:host ::ng-deep .p-datatable table {
  table-layout: auto;
}
:host ::ng-deep .p-dropdown-items-wrapper {
  overflow: auto;

  position: relative;
  top: -80px;
  z-index: 25;
  background-color: aliceblue;
}
:host ::ng-deep .p-dropdown-panel {
  background: none;
  color: #495057;
  border: 0 none;
  border-radius: 6px;
  box-shadow: none;
}

:host ::ng-deep .p-datepicker .p-timepicker button {
  height: 0px;
  width: 0px;
}
