<div class="container login">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card bg-light text-dark text-center p-4">
        <div class="card-body">
          <div class="field grid">
            <label class="col-fixed mb-5" style="width: 100px">username</label>
            <div class="col">
              <input type="text" class="inputfield mb-5" />
            </div>
          </div>
          <div class="field grid">
            <label class="col-fixed mb-5" style="width: 100px">password</label>
            <div class="col">
              <input type="password" class="inputfield mb-5" />
            </div>
          </div>

          <p-button type="submit" label="Sign in" routerLink="/home"></p-button>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
