<app-emp-sidenav></app-emp-sidenav>

<div class="container timesheet">
  <div class="row">
    <h4>Daily Attendance</h4>
    <div class="col-md-6 mb-4 mt-4">
      <label>Employee Id</label>
      <input
        type="text"
        formControlName="consignName"
        pInputText
        class="h-2rem"
      />
    </div>

    <div class="col-md-6 mb-4 mt-4">
      <label>Full Name</label>
      <input
        type="text"
        formControlName="consignName"
        pInputText
        class="h-2rem"
      />
    </div>
  </div>

  <div class="row desc">
    <div class="col-md-6">
      <label>Date</label>

      <p-calendar
        [showTime]="true"
        hourFormat="12"
        inputId="time"
        class="w-auto"
      ></p-calendar>
    </div>
    <div class="col-md-6"></div>
  </div>

  <div class="row mb-5">
    <div class="col-md-6">
      <label>Work Description</label>
      <textarea
        rows="5"
        cols="39"
        pInputTextarea
        class="outline-none"
      ></textarea>
    </div>

    <div class="col-md-6"></div>
  </div>

  <div class="row mt-5">
    <div class="col-md-5"></div>
    <div class="col-md-3 text-center">
      <button
        pButton
        pRipple
        type="button"
        label="Submit"
        class="p-button-rounded p-button-success"
      ></button>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
