<div class="container mb-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body" routerLink="/dashboard">
          <i class="pi pi-home"></i>
          <ul type="none">
            <li>Departments</li>
            <li>9</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-dark">
        <div class="card-body" routerLink="/employees">
          <i class="pi pi-users"></i>
          <ul type="none">
            <li>Employees</li>
            <li>9</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-dark">
        <div class="card-body" routerLink="/present-employees">
          <i class="pi pi-user-plus"></i>
          <ul type="none">
            <li>Present</li>
            <li>9</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-dark">
        <div class="card-body" routerLink="/absent-employees">
          <i class="pi pi-user-minus"></i>
          <ul type="none">
            <li>Absent</li>
            <li>9</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
